<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
</div>

<div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong>Cheers!</strong>
  </div>
  <div class="toast-body">
    <span data-toast-body></span>
  </div>
</div>