<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-controller="toast" data-action="hidden.bs.toast->toast#remove">
  <div class="toast-header">
    <strong>Cheers!</strong>
  </div>
  <div class="toast-body">
    <span>
      <p>Thanks for your submission!</p>
      <p>We'll consider it for the shared cocktails list!</p> 
    </span>
  </div>
</div>