<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Tags</th>
        <th>Required Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><samp>Example Tag</samp></td>
        <td>White rows like this are tags with no matching bottles in <a href="/reagents">your collection</a></td>
      </tr>
      <tr class="table-warning">
        <td><samp>Example Tag</samp></td>
        <td>Yellow rows like this are tags where you have a bottle that matches, but not enough volume</td>
      </tr>
      <tr class="table-success">
        <td><samp>Example Tag</samp></td>
        <td>Green rows like this are tags where you have a bottle that matches, and enough volume. If all rows are green, you'll see a "Make Drink" button here instead</td>
      </tr>
    </tbody>
  </table>
</div>